<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArKQFm14tcS60kIPqc_045P_Q7Zb7ajW8</string>
	<key>GCM_SENDER_ID</key>
	<string>474359166703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicalpage</string>
	<key>PROJECT_ID</key>
	<string>medicine-5af6d</string>
	<key>STORAGE_BUCKET</key>
	<string>medicine-5af6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474359166703:ios:5323e3ee249983c05fcd1a</string>
</dict>
</plist>